<div class="row">
  <div>
    <form class="form-group" ng-submit="Search.submitSearch()">
      <label class="control-label"><h5>Search for movie by title</h5></label>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" class="form-control" name="search" ng-model="Search.search" placeholder="i.e. Captain America"></input>
        <span class="input-group-btn">
          <button type="submit" name="submitSearch" class="btn btn-primary">Search</button>
        </span>
      </div>
    </form>
  </div>


</div>
